@model AstrologyModel
<p>Since you were born on @Model.BirthMonth, @Model.BirthDay your astrological sign is: <span class="astrology-text">@Model.AstrologicalSign</span></p>
<p>Your horoscope:</p>
<p><span class="astrology-text">@Model.Horoscope</span></p>
@*"A lovely old time and horoscope piece" by Stewart Holmes is licensed with CC BY-SA 2.0. To view a copy of this license, visit https://creativecommons.org/licenses/by-sa/2.0/*@
<img class="image-container" src="https://live.staticflickr.com/7435/11865560284_ce4709848d_b.jpg"/>