@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1>Learn your future with </h1>
    <h1><a href="/Astrology">Astrology</a> ~or~ <a href="/Astronomy">Astronomy</a>!</h1>
</div>
<div class="astro-container">
    @*"Israel Postage Stamp: constellation of the zodiac" by karen horton is licensed with CC BY-NC 2.0. To view a copy of this license, visit https://creativecommons.org/licenses/by-nc/2.0/*@
    <a href="/Astrology"><img img id="astro-image1" src="https://live.staticflickr.com/2604/4230454462_b153437c7a_b.jpg" /></a>
    @*"File:Centaurus constellation map.svg" by Centaurus_constellation_map.png: Torsten Bronger derivative work: Kxx (talk) is licensed with CC BY-SA 3.0. To view a copy of this license, visit http://creativecommons.org/licenses/by-sa/3.0/*@
    <a href="/Astronomy"><img id="astro-image2" src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Centaurus_constellation_map.svg" /></a>
</div>